/** {font-family: "PingFangSC-Regular, sans-serif,Helvetica Neue,Helvetica,STHeiTi,Arial,sans-serif,Microsoft YaHei";
}*/
#app{
	font-family: PingFangSC-Regular;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
input, textarea, keygen, select, button {   
    font:.26rem Arial;
}
a, abbr, acronym, address, applet, audio, b, big, blockquote, body, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, mark, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, time, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    text-decoration: none
}

html {
    line-height: 1;
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body{
	-webkit-text-size-adjust: 100% !important;
    text-size-adjust: 100% !important;
    -moz-text-size-adjust: 100% !important;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
blockquote, q {
    quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
    content: "";
    content: none
}

a img {
    border: none
}

ol, ul {
    list-style: none
}

a {
    tap-highlight-color: transparent;
    focus-ring-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -webkit-focus-ring-color: transparent;
    -moz-tap-highlight-color: transparent;
    -moz-focus-ring-color: transparent
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.ime-disabled {
    ime-mode: disabled
}

.mt40 {
    margin-top: 40px
}

body {
    background-color: #f2f2f2;
    height: 100%;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: " "
}

.clearfix:after {
    clear: both
}

body {
	height: 100%;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}

.box {
    position: relative;
    max-width: 10rem;
    margin: 0 auto;
}

.wrap {
    max-width: 10rem;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.pr {
    position: relative;
}

.pa {
    position: absolute;
}

.comImg img {
    width: 100%;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.timeBox {
    font-size: 0.3rem;
    color: #fff;
    text-align: center;
    line-height: .40rem;
}

.yomibox2 ul {
    display: inline-block
}

.yomi li {
    height: .46rem;
    display: inline-block;
    border: none;
    font-size: .3rem;
    margin-left: 0.1rem;
}

li.yomiday, li.yomihour, li.yomimin, li.yomisec {
    width: .46rem;
    height: .46rem;
    background-color: #b61529;
    border-radius: 0.05rem;
    text-align: center;
    display: inline-block
}

.min-toast {
    position: fixed;
    max-width: 80%;
    border-radius: 0.05rem;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    box-sizing: border-box;
    text-align: center;
    z-index: 1000;
    transition: opacity .3s linear;
}

.mint-toast-icon {
    display: block;
    text-align: center;
    font-size: .28rem;
}

.mint-toast {
    padding: 0.2rem !important;
    border-radius: 0.05rem;
}

.mint-toast .mint-toast-text {
    font-size: 0.28rem !important;
}

.mint-toast-text {
    font-size: 0.54rem;
    display: block;
    text-align: center;
}
.mint-indicator {
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}
.mint-indicator-wrapper {
  top: 50%;
  left: 50%;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 0.05rem;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  box-sizing: border-box;
  text-align: center;
}
.mint-indicator-text {
  display: block;
  color: #fff;
  text-align: center;
  margin-top:.1rem;
  font-size: 0.26rem;
}
.mint-indicator-spin {
  display: inline-block;
  text-align: center;
}
.mint-indicator-mask {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: transparent;
}
.mint-indicator-enter, .mint-indicator-leave-active {
  opacity: 0;
}


/*Message box*/
.v-modal-enter {
  animation: v-modal-in .2s ease;
}

.v-modal-leave {
  animation: v-modal-out .2s ease forwards;
}

@keyframes v-modal-in {
  0% {
    opacity: 0;
  }
  100% {
  }
}

@keyframes v-modal-out {
  0% {
  }
  100% {
    opacity: 0;
  }
}

.v-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: #000;
}
#app{height: 100%;}
/*.picker-items{
	width: 200px;
}*/
.comPadding{padding-left:.24rem !important; padding-right: .24rem !important;}
.mb18{margin-bottom:18px;}
.bgWhite{background-color: #fff;}
.textCenter{text-align: center;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}
body{background-color: #f2f2f2;}
.col-ff7a38{color: #ff7a38 !important;}

/*下载YOU选链接样式*/
.download{
	img{
		display: block;
		width: .56rem;
		height: .56rem;
	}
}
input::-webkit-outer-spin-button,  
input::-webkit-inner-spin-button{  
    -webkit-appearance: none !important;  
    margin: 0;  
}  
.vux-slider .vux-swiper .vux-swiper-item a .vux-swiper-desc{
	display: none;
}
#app .avtive{
    line-height: .48rem;
}
#app .vux-slider > .vux-indicator > a > .vux-icon-dot.active{
	background: #fff;
	
}
#app .weui-cells_checkbox .weui-check:checked + .vux-checklist-icon-checked:before{
	color:#f49;
}
.weui-cell{
	display: flex;
	display:-webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: box;
}
.vux-checklist-label-left{
	-webkit-flex-direction:row-reverse;
	flex-direction:row-reverse;
}
.weui-cells_checkbox > label p{
	font-size: .26rem;
}
.weui-cell__bd{
	-webkit-box-flex: 1;   /* OLD - iOS 6-, Safari 3.1-6 */  
    -moz-box-flex: 1;     /* OLD - Firefox 19- */              
    -webkit-flex: 1;      /* Chrome */  
    -ms-flex: 1;           /* IE 10 */  
    flex: 1;    
}
#app .swiper-pagination-bullet-active{
	background: #fff;
}
/*#app .swiper-container{
	height: auto;
}*/
#app .vux-slider{
	width: 100%;
}
#app .valign:after{content:"";vertical-align:middle;display:inline-block;height:100%;width:0;}
#app .goodsDetail .imgdetail{
	font-size: .36rem;
	line-height: .52rem;
}
#app .goodsDetail .imgdetail img{
	width: 100%;
	display: block;
}
#app .bugSuper .imgdetail img{
	width: 100%;
	display: block;
}
#app .bugSuper .imgdetail{
	font-size: .28rem;
	
}
#app .vux-slider > .vux-indicator, .vux-slider .vux-indicator-right{
	bottom: -5px;
}
#app .imgdetail img{
	display: block;
	width: 100%;
}
#app .imgdetail {
	display: flex;
	display:-webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-align:center;/* IE 10 */
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-justify-content:center;
	justify-content:center;
	-moz-box-pack:center;
	-webkit--moz-box-pack:center;
	flex-wrap:wrap;
	-webkit-flex-wrap:wrap;
	-webkit-box-lines:multiple;
	-moz-flex-wrap:wrap;
}
#app .swiper-pagination-bullet{
	background: #e1e1e1;
	margin: 0 .06rem;
}
.swiper-pagination{
	width: 100%;
	top: 0;
}

